body{
    background-color: black;
    font-family: KoHo, serif;
}

.charcoal-bg{
background-color: rgba(39,34,34,0.921); 
}

.logo{
    padding: 14px 16px;
    font-size: 40px;
    font-family: Courgette, serif;
    background-color: rgba(92, 238, 238, 0.911); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, aqua , rgb(255, 0, 234));
    font-weight: bold;
    color: black !important;
}

.contactInfoHeader{
    color:rgb(255, 0, 234);
    font-weight: bold;
    font-size: large;
}

.courgette{
    font-family: Courgette, serif;
    font-size: large;
}

.searchResult{
    padding: 14px 16px;
    background-color: rgba(92, 238, 238, 0.911); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, aqua , rgb(255, 0, 234));
    font-weight: bold;
}

.aqua-border-bottom{
    border-bottom: 2px solid aqua;
}


.koho{
    font-family: Koho, serif;
}

.nav-pills a, .nav-pills button{
    color: aqua;
    font-size: large;
    cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-pills .nav-link:hover{
    background-color: rgb(255, 0, 234);
    color:white !important;
}

.nav-pills a{
    color: aqua !important;
}

.nav-pills a:hover{
    background: rgb(255, 0, 234);
    color: white !important;
} 

.fa-button{
    background: black;
    font-size: 17px;
    color: aqua;
    border: 2px solid aqua;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

.fa-button:hover {
    background: rgb(255, 0, 234);
    color: white;
    border-color: aqua(255, 0, 234);
}

.search-bar{
    font-size: 17px;
    border: 1px solid aqua;
    border-radius: 4px; 
    text-align: center;
    box-sizing: border-box;
    background-color: black;
    color: aqua;
    width: 280px;
    display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
-webkit-box-shadow: 0 0 0 30px rgba(27, 67,67) inset !important;
box-shadow: 0 0 0 30px rgba(27, 67,67) inset !important;
-webkit-text-fill-color:aqua;
}

.example-text{
    border: 1px solid aqua;
    color: white;
    border-radius: 12px;
}

/* Medium breakpoint for bootstrap */
@media screen and (max-width: 767.98px)
{
    .nav-pills .nav-link {
        border-radius: 0;
        text-align: center;
    }
    nav{
        background-color: transparent;
        background-image: linear-gradient(to bottom right, aqua , rgb(255, 0, 234));
    }
    .navbar-toggler{
        margin-right: 10px !important;
    }
    .logo{
        background-image: none;
        background-color: transparent;
        font-size: x-large;
    }
    /* Buttons for delete edit and save move on top.*/
    .fa-button{
        float:none;
        display: inline-block;
        
    }
    .contactInfoHeader{
        display: block;
    }


    /* Galaxy Fold, or thinner */
    @media screen and (max-width: 310px)
    {
        .logo{
            font-size: large;
        }
        .fa-button{
            float:none;
            display: block;            
        }
    }

    .nav-pills{
        background-image: none !important;
        background-color: rgba(39,34,34,1) !important;
    }
}




/* Add Contact CSS */

#addTitle {
    font-size: 40px;
    margin: auto;    
    text-align: center;
    font-family: Courgette, serif;
    color: black;
    background-color: rgba(92, 238, 238, 0.911); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, aqua , rgb(255, 0, 234));
    border-color: black;
    border-radius: 25px;
    max-width: 800px;
    padding: 20px;
}

/* Animation Frames */
@keyframes glowEffect {
    0% { box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0px 5px 7px 6px rgba(255, 0, 234, 0.521);}
    25% { box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 5px 1px 7px 5px rgba(255, 0, 234, 0.521);}
    50% {box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0px -3px 7px 5px rgba(255, 0, 234, 0.521);}
    75% { box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), -5px -1px 7px 5px rgba(255, 0, 234, 0.521);}
    100% { box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0px 5px 7px 6px rgba(255, 0, 234, 0.521);}
  }

#addDiv {
    padding: 20px;
    margin: auto;
    margin-top: 25px;
    border-radius: 30px;
    max-width: 800px;
    background-color: rgba(39, 34, 34, 0.921);
    box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0 5px 7px 8px rgba(255, 0, 234, 0.521);
    
    /* Animation */
    animation-name: glowEffect;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

#addFirstName, #addLastName {
    text-transform: capitalize;
  }


.btn-outline {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: aqua;
    color: aqua;
}

.btn-outline:hover {
    background: rgb(255, 0, 234);
    color: white;
    border-color: aqua(255, 0, 234);
} 

#addDiv input[type=text] {
    padding: 12px 20px;
    min-width: 80%;
    max-width: 600px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid aqua;
    border-radius: 4px; 
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    background-color: black;
    color: aqua;
  }

#outerDiv {
    text-align: center;
}

.contact-info-field{
    font-size: 17px;
    border: 1px solid aqua;
    border-radius: 4px; 
    text-align: center;
    display: block;
    background-color: black;
    color: aqua;
    width: 80%;
    max-width: 300px;
}
