body {
    background-color: black;
    color: aqua;
    font-family: KoHo, serif;
    text-align: center;
} 

#loginTitle, #regTitle {
    font-size: 40px;
    margin: -10px -10px 20px -10px;    
    text-align: center;
    font-family: Courgette, serif;
    color: aqua;
    background-color: rgba(65, 163, 163, 0.411);
    border-color: aqua;
    padding: 25px;
}

#loginDiv, #registrationDiv {
    padding: 10px;
    margin: 10px 150px 20px 150px;
    /*background-color: rgba(115, 194, 194, 0.521);
    border-width: 1px;
    border-style: solid;
    border-color: aqua;*/
    box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0 12px 12px rgba(115, 194, 194, 0.521);

}

#regFirstName, #regLastName {
  text-transform: capitalize;
}

.btn { 
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.btn-outline {
  border-color: aqua;
  color: aqua;
}

.btn-outline:hover {
  background: aqua;
  color: black;
}  

input[type=text], input[type="password"], input[type="password"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px; 
  border-width: 2px;
  border-color: aqua;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: aqua;
}