body {
    background-color: black;
    color: aqua;
    font-family: KoHo, serif;
    text-align: center;
} 

#loginTitle {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin: 2% 2%;
    font-family: Courgette, serif;
    color: aqua;
}

#regTitle {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin: 2% 2%;
    font-family: Courgette, serif;
    color: aqua;
}

#loginDiv, #registrationDiv {
    padding: 10px;
    background-color: rgba(252, 241, 241, 0.534);
}

.btn { 
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.btn-outline {
  border-color: aqua;
  color: aqua;
}

.btn-outline:hover {
  background: aqua;
  color: black;
}  

input[type=text], input[type="password"], input[type="password"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px; 
  border-width: 2px;
  border-color: aqua;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: aqua;
}