body {
    background-color: black;
    color: aqua;
    font-family: KoHo, serif;
    text-align: center;
} 

a {
  color: aqua;
}

a:hover {
  color: rgb(255, 0, 234);
}

#innerTitle, h3 {
  font-size: large;
  color: aqua;
  font-weight: bold;
}

#outerDiv {
  padding: 20px;
}

#loginTitle, #regTitle {
    font-size: 40px;
    margin: -10px -10px 2% -10px;    
    text-align: center;
    font-family: Courgette, serif;
    color: black;
    background-color: rgba(92, 238, 238, 0.911); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, aqua , rgb(255, 0, 234));
    border-color: black;
    padding: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px rgba(27, 67,67) inset !important;
 -webkit-text-fill-color:aqua;

}

/* Animation Frames */
@keyframes glowEffect {
  0% { box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0px 5px 7px 6px rgba(255, 0, 234, 0.521);}
  25% { box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 5px 1px 7px 5px rgba(255, 0, 234, 0.521);}
  50% {box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0px -3px 7px 5px rgba(255, 0, 234, 0.521);}
  75% { box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), -5px -1px 7px 5px rgba(255, 0, 234, 0.521);}
  100% { box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0px 5px 7px 6px rgba(255, 0, 234, 0.521);}
}

#loginDiv, #registrationDiv {
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    border-radius: 30px;
    max-width: 800px;
    background-color: rgba(39, 34, 34, 0.921);
    box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0 5px 7px 8px rgba(255, 0, 234, 0.521);
    
    /* Animation */
    animation-name: glowEffect;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;

    /*background-color: rgba(115, 194, 194, 0.521);
    border-width: 1px;
    border-style: solid;
    border-color: aqua;*/
    /* box-shadow: 0 10px 15px 20px rgba(115, 194, 194, 0.411), 0 12px 12px rgba(115, 194, 194, 0.521); */

}

#regFirstName, #regLastName {
  text-transform: capitalize;
}

.btn { 
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.btn-outline {
  border-color: aqua;
  color: aqua;
}

.btn-outline:hover {
  background: rgb(255, 0, 234);
  color: white;
  border-color: aqua(255, 0, 234);
} 

#loginResult {
  color: rgb(255, 0, 234);
  font-weight: bold;
}

input[type=text], input[type="password"], input[type="password"] {
  padding: 12px 20px;
  min-width: 80%;
  max-width: 600px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid aqua;
  border-radius: 4px; 
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: aqua;
}

.navBar {
  margin: -10px -10px 2% -10px;   
  overflow: hidden;
  background-color: rgba(39, 34, 34, 0.921);
  border: 2px solid aqua;
}

.navBar h1{
  margin: -1px -1px -1px -1px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  font-family: Courgette, serif;
  background-color: rgba(92, 238, 238, 0.911); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, aqua , rgb(255, 0, 234));
}

.navBar a {
  float: right;
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar a:hover {
  background: rgb(255, 0, 234);
  color: white;
}

.navBar a.active {
  background: rgb(255, 0, 234);
  color: white;
}

.navBar .search-container {
  float: right; 
  margin-right: 20px;
}

.navBar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid aqua;
  border-radius: 4px; 
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: aqua;
}

.navBar .search-container button {
  float: right;
  padding: 6px 10px;
  margin: 8px 16px 8px ;
  background: black;
  font-size: 17px;
  color: aqua;
  border: 2px solid aqua;
  border-radius: 10px;
  cursor: pointer;
}

.navBar .search-container button:hover {
  background: rgb(255, 0, 234);
  color: white;
  border-color: aqua(255, 0, 234);
}
 
@media screen and (max-width: 950px) {
  .navBar .search-container {
    float: none;
  }
  .navBar a,.navBar h1, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: center;
    /* This width = 100 appears to offset the navbar elements to the right for some reason*/
    /* I think this should make them centered. */
    /* width: 100%; */
    margin: 0;
    padding: 14px;
  }
  .navBar input[type=text] {
    border: 1px solid aqua;  
  }
}